{% extends "zinnia/base.html" %}
{% load i18n comments zinnia_tags mptt_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block meta-description %}{% if object.excerpt %}{{ object.excerpt|striptags }}{% else %}{{ object.content|striptags|truncatewords:100 }}{% endif %}{% endblock %}

{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  {% with previous_entry=object.previous_entry %}{% if previous_entry %}
  <link rel="prev" title="{{ previous_entry.title }}" href="{{ previous_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% with next_entry=object.next_entry %}{% if next_entry %}
  <link rel="next" title="{{ next_entry.title }}" href="{{ next_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  <link rel="canonical" href="{{ object.get_absolute_url }}" />
  {% with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" %}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_discussion_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_comment_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_pingback_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_trackback_feed' year month day object.slug %}" />
  {% endwith %}
{% endblock %}

{% block body-class %}entry entry-{{ object.pk }}{% if object.featured %} featured{% endif %}{% endblock %}

{% block content %}
  {% block entry-content %}
    {% with object_content=object.html_content|safe %}
    {% include "zinnia/_entry_detail.html" %}
    {% endwith %}
  {% endblock %}

  {% block entry-comments %}
  <div id="comments">
    <h3>{% trans "Comments" %}</h3>
    {% with comment_list=object.comments %}
    {% if comment_list.count %}
      {% recursetree comment_list %}
       <div id="comment_{{ node.pk }}" class="media comment vcard {% cycle box1,box2 %}{% if node.user in object.authors.all %} post-author{% endif %}">
          <a class="pull-left" href="">
          <img src="{% get_gravatar node.email 60 "G" %}" class="gravatar photo media-object" alt="{{ node.user_name }}"/></a>
          <div class="media-body comment-info">
            {% if node.url %}
            <a href="{{ node.url }}" rel="external nofollow"
                     class="fn url">{{ node.user_name }}</a>
            {% else %}
            <b>{{ node.user_name }}</b>
            {% endif %}
            {% trans "on" %}
            <abbr class="comment-published" title="{{ node.submit_date|date:"c" }}Z">
              {{ node.submit_date|date:"SHORT_DATETIME_FORMAT" }}
            </abbr>
            {{ node.comment|linebreaks|safe }}
            <p class="comment-reply">
              <a class="btn btn-primary" href="#comment-form" onclick="set_reply('{{ node.pk }}')">{% trans "Reply" %}</a>
            </p>
            {% if children %}
              <div class="well well-sm">
                {{ children }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endrecursetree %}
      {% if not object.comments_are_open %}
        <p>{% trans "Comments are closed." %}</p>
      {% endif %}
    {% else %}
      {% if object.comments_are_open %}
        <p>{% trans "No comments yet." %}</p>
      {% else %}
        <p>{% trans "Comments are closed." %}</p>
      {% endif %}
    {% endif %}
    {% endwith %}
  </div>
  {% endblock %}

  {% block entry-comments-form %}
  {% if object.comments_are_open %}
    {% render_comment_form for object %}
  {% endif %}
  {% endblock %}

  {% block admin_tools %}
  {% if perms.zinnia.change_entry %}
    <a href="{% url 'admin:zinnia_entry_change' object.pk %}" title="{% trans "Edit the entry" %}" class="btn btn-default pull-right"><i class="glyphicon glyphicon-wrench"></i> {% trans "Edit the entry" %}</a>
  {% endif %}
  {% endblock %}

{% endblock content %}
{% block right-content %}
  {% with object.book as book %}
    {% include "somesmart/include_book_data.html" %}
    {% if book.id %}
    <h4>Recent Reviews:</h4>
    <ul class="list-unstyled">
    {% for edition in book.edition_set.all %}
      {% for review in edition.review_set.all %}
        <li><a href="{% url 'review-view' review.id %}{{ review.edition.book.title|slugify }}">{{ review.edition }}</a>{% if review.recommend %} <i class="glyphicon glyphicon-thumbs-up"></i>{% else %} <i class="glyphicon glyphicon-thumbs-down"></i>{% endif %}</li>
      {% endfor %}
    {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
{% endblock right-content %}

{% block app.scripts %}
<script type="text/javascript">
  function set_reply(parent) {
    $("#id_parent").val(parent );
  }
  </script>
{% endblock %}