{% extends "zinnia/entry_detail.html" %}
{% block app.css %}
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <link rel="stylesheet" href="http://www.somesmart.com/staticfiles/somesmart/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.somesmart.com/staticfiles/somesmart/css/bootstrap/custom.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="http://www.somesmart.com/staticfiles/somesmart/css/bootstrap/bootstrap-responsive.min.css">
    <!-- this is the custom jquery ui bootstrap theme --> 
    <link rel="stylesheet" href="http://www.somesmart.com/staticfiles/somesmart/css/jquery-ui/jquery-ui-1.9.2.custom.css">
    <!--<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
{% endblock %}