{% load comments i18n %}
<form action="{% comment_form_target %}" method="post" id="comment-form">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Post your comment" %}</legend>
    <input type="hidden" name="next" value="{% url 'zinnia_comment_success' %}"/>
    <div class="form-row">
      {{ form.title.label_tag }}
      {{ form.title }}
      {{ form.title.errors }}
    </div>
    <table class="table table-striped table-hover">
      {{ form }}
    </table>
    <div class="submit-row">
      <input type="submit" name="submit" class="submit-post btn btn-default" value="{% trans "Post" %}" />
      <input type="submit" name="preview" class="submit-preview btn btn-default" value="{% trans "Preview" %}" />
    </div>
  </fieldset>
</form>
