{% extends "somesmart/base.html" %}
{% block title %}{{ game_play.game }}{% endblock title %}
{% block app.scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}adventure/adventure.js"></script>
<script type="text/javascript">
$(function() {
	$("#command").autocomplete({
		source: "{% url 'adv-autocomplete' %}?search=word&game={{ game_play.game.id }}&character={{ game_play.character.id }}&level={% if next_level %}{{ next_level }}{% else %}{{ game_play.level.id }}{% endif %}",
		minLength: 2,
		});
	$('#command').autocomplete('disable');	
	$("#searchOn").click(function(e){
		e.preventDefault();
		alert("Easy Mode On!");
		$('#command').autocomplete('enable');
		$('#instructions').append("<li class='easy-mode'>With easy mode on you will now receive only valid autocomplete options as you begin typing</li><li class='easy-mode'><a href='' id='searchOff'>Turn easy mode off</a>");
	});
	$("#searchOff").click(function(e){
		e.preventDefault();
		alert("Easy Mode Off!");
		$('#command').autocomplete('disable');
		$('.easy-mode').hide();
	});
});
</script>{% endblock %}
{% block top-content %}{% endblock %}
{% block content %}
<div class="row">
	<div class="page-header">
		<h2>{{ game_play.game }}</h2>
		<h4>by {{ game_play.game.creator }}</h4>
	</div>
	<div id="game-div">
		<div id='message_results' class='message_results'>{{ game_play|safe }}</div>
	</div>
	<div> 
		<form method="get" class="form-horizontal col-md-5">
			{% csrf_token %}
			<label>Who? </label>
				<select class="form-control" name="character_select" id="character_select">
					<option value="{{ game_play.character.id }}">{{ game_play.character }}</option>
				</select>
				<label for="command">What? </label> 
				<input class="form-control" type="text" name="command" id="command"/>
				<input type="hidden" id="level" value="{% if next_level %}{{ next_level }}{% else %}{{ game_play.level.id }}{% endif %}">
				<input type="hidden" id="gameID" value="{{ game_play.game.id }}">
				<input style="display:none" type="submit" value="go" id="search_button"/> 
		</form>
	</div>
</div>
<div class="row">
	<div class="pull-right" id="save">
		<a class="btn btn-default" id="saveLink" href="{% url 'game-view' game_play.game.id game_play.character.id game_play.level.id %}">Your Save Link</a>
	</div>
</div>
{% endblock content %}
{% block top-right-content %}{% endblock %}
{% block right-content %}
	{% include "adventure/include_instructions.html" %}
{% endblock %}