{% extends "somesmart/base.html" %}
{% block title %}Contact Us{% endblock title %}
{% block top-content %}
	<div class="row">
		<div class="well well-sm col-md-8 col-lg-offset-1">
		We appreciate any feedback you have to offer.
		</div>
	</div>
{% endblock %}
{% block content %}
		<form action="" method="post">
			{% csrf_token %}
		<table class="table table-striped table-hover">
			<tr>
			{% for field in form %}
			<tr>
				<th>{{ field.label_tag }} {% if field.field.required %}<span class="requ">*</span>{% endif %}</th>
				<td>{{ field.errors }}{{ field }}
					{% if field.help_text %}
					<p class="help_text">{{ field.help_text }}</p>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			<tr><th></th><td><input type="submit" class="btn btn-default" value="Submit"></td></tr>
		</table>
		</form>
	<p class="well well-sm">You can also contact us directly on <a href="http://twitter.com/somesmart">Twitter</a></p>		
{% endblock content %}