{% extends "somesmart/base.html" %}
{% block title %}Cashflow Management{% endblock title %}
{% block content %}
	<h3>Recent Transactions:</h3>
	<dl>
		{% for trx in recent_trx %}
		{% if trx.budget.creator.id == request.user.id %}
			<dt><a href="{% url "view-trx" trx.id %}">{{ trx.date }} - {{ trx.category }} - {{ trx.source }} - {{ trx.account }}</a></dt>
			<dd>{{ trx.amount }}</dd>
		{% endif %}
		{% endfor %}
	</dl>
{% endblock content %}
{% block top-right-content %}{% endblock top-right-content %}
{% block right-content %}
	<div class="col-md-10 col-lg-offset-1">
		{% include "somesmart/include_contact.html" %}
	</div>
{% endblock %}