{% extends "somesmart/base.html" %}
{% load somesmart_extras %}
{% block title %}The Lord of the Rings Calendar{% endblock title %}
{% block top-content %}{% endblock %}
{% block content %}
<p class="well well-sm">Because the events of <strong>The Lord of the Rings</strong> span multiple years the position of the days in the calendar below should not be used to assume a day of the week.</p>
<br>
<div class="row">{% include "lotr/include_today_link.html" %}</div>
<br>
<div class="row">
	{% regroup event_list by event_day as day_list %}
	<div>
		{% for day in day_list %}
			{% if forloop.counter == 1 %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>{% for event in day.list %}{% if forloop.counter == 1 %}{{ event.get_event_month_display }}{% endif %}{% endfor %} in <strong>The Lord of the Rings</strong></h4>
				</div>
				<table class="table calendar">
					<tr>
			{% endif %}
					<td class="calendar"><span class="pull-right">{{ day.grouper }}</span><br>{% for event in day.list %}{% with event.deck|length|add:-1 as deck_len %}<p><a href="{% url event-date-view event.event_month event.event_day %}" title="{{ event.deck }}">{% if deck_len > 50 %}{{ event.deck|truncchar:50 }}...{% else %}{{ event.deck }}{% endif %}</a></p>{% endwith %}{% endfor %}</td>
				{% if forloop.counter|divisibleby:"7" %}</tr><tr>{% endif %}
				{% if forloop.last %}
				</tr>
				</table>
			</div>
			{% endif %}
		{% empty %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>No events!</h4>
				</div>
				<div class="panel-body">
					<p>Nothing seems to have happened in this month... (or more likely it's not in the database yet)</p>
				</div>
			</div>
		{% endfor %}
	</div>
	{% for day in day_list %}
		{% if forloop.counter == 1 %}
			<div>
				<div class="pull-left">
					<a class="btn btn-success" href="/lotr/event/month/{{ dates.prev_month }}/"><i class="glyphicon glyphicon-chevron-left"></i> Previous Month</a>
				</div>	
				<div class="pull-right">
					<a class="btn btn-success" href="/lotr/event/month/{{ dates.next_month }}/">Next Month <i class="glyphicon glyphicon-chevron-right"></i></a>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>
{% endblock content %}
{% block top-right-content %}{% endblock %}
{% block right-content %}
	{% include "lotr/include_month_warning.html" %}
	{% include "somesmart/include_contact.html" %}
	{% include "lotr/include_search_form.html" %}
{% endblock %}
{% block app.scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}lotr/functions.js"></script>
{% endblock %}