{% extends "somesmart/base.html" %}
{% block title %}Welcome to the Lord of the Rings Calendar!{% endblock title %}
{% block content %}
<p class="well well-sm">Like everyone at some point or another, I've often wondered "what happened on my birthday in <strong>The Lord of the Rings</strong>?" This, naturally, expanded into the idea that I should provide a simple way for everyone to find this information. Currently, I only have data from 9/20 to 3/2 loaded, but hopefully I'll get to the rest eventually. If you notice any errors, let me know!</p>
<div>
	<h3>Today in <strong>The Lord of the Rings</strong>:</h3>
	{% include "lotr/include_event_list.html" %}
</div>
<div>
{% include "lotr/include_search_form.html" %}
</div>
{% endblock content %}
{% block top-right-content %}{% endblock top-right-content %}
{% block right-content %}
	<div class="col-md-10 col-lg-offset-1">
		{% include "lotr/include_month_warning.html" %}
		{% include "somesmart/include_contact.html" %}
	</div>
{% endblock %}
{% block app.scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}lotr/functions.js"></script>
{% endblock %}