{% extends "somesmart/base.html" %}
{% load humanize %}
{% block title %}{{ journey }}{% endblock title %}
{% block content %}
<div class="row">{% include "lotr/include_today_link.html" %}</div>
<br>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>{{ journey }}</h3>
		</div>
		<div class="panel-body">
			<dl class="list-unstyled">
				{% for event in journey.event_set.all %}
					<dt>{{ event.get_event_month_display }} {{ event.event_day|ordinal }}</dt><dd><a href="{% url 'event-view' event.id %}">{{ event.deck }}</a></dd>
				{% endfor %}
			</dl>
		</div>
	</div>
</div>
{% endblock content %}
{% block top-right-content %}{% endblock top-right-content %}
{% block right-content %}
	<div class="col-md-10 col-lg-offset-1">
		{% include "lotr/include_month_warning.html" %}
		{% include "somesmart/include_contact.html" %}
		{% include "lotr/include_search_form.html" %}
	</div>
{% endblock %}
{% block app.scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}lotr/functions.js"></script>
{% endblock %}