{% extends "somesmart/base.html" %}
{% block title %}The Lord of the Rings Calendar{% endblock title %}
{% block top-content %}{% endblock %}
{% block content %}
<div class="row">
	<h3>{% for event in event_list %}{% if forloop.counter == 1 %}{{ event.event_month }}/{{ event.event_day }}{% endif %} in{% endfor %} <strong>The Lord of the Rings</strong></h3>
	{% include "lotr/include_event_list.html" %}
</div>
{% endblock content %}
{% block top-right-content %}{% endblock %}
{% block right-content %}
	{% include "somesmart/include_contact.html" %}
{% endblock %}