{% extends "somesmart/base.html" %}
{% block top-content %}{% endblock %}
{% block content %}
<p class="alert alert-info">It appears you didn't enter a valid value. Please return to the previous page and try again. If you continue to receive this message, please <a href="/contact/">contact us</a>.</p>
{% endblock %}
{% block top-right-content %}{% endblock top-right-content %}
{% block right-content %}
	<div class="col-md-10 col-lg-offset-1">
		{% include "lotr/include_month_warning.html" %}
		{% include "somesmart/include_contact.html" %}
		{% include "lotr/include_search_form.html" %}
	</div>
{% endblock %}