{% load url from future %}
<div>
	{% for event in event_list %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>{{ event.third_age_year }} (3rd Age) - <a href="{% url 'journey-view' event.journey.id %}">{{ event.journey }}</h4>
			</div>
			<div class="panel-body">
				<strong><p><a href="{% url 'event-view' event.id %}">{{ event.deck }}</a></p></strong>
				<p>{{ event.description }}</p>
				{% include "lotr/include_characters_present.html" %}
			</div>
		</div>
	{% empty %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>No events!</h4>
			</div>
			<div class="panel-body">
				{% if na %}
					{{ na.value|safe }}
				{% else %}
					<p>Nothing seems to have happened on this day... (or more likely it's not in the database yet)</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>
{% for event_detail in event_list %}
	{% if forloop.counter == 1 %}
		{% include "lotr/include_day_nav.html" %}
	{% endif %}
{% endfor %}