body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.well-light {
	background-color: #F8F8FF;
}

img {
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 12px;
	margin-left: 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

iframe {
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 12px;
	margin-left: 10px;
}


.review {
	text-indent: 20px;
}

.glyphicon-thumbs-down {
	opacity: 0.7;
}

.input-append .add-on, .input-prepend .add-on {
	padding: 5px 5px;
	text-shadow: none;
	border: 1;
}

.input-group-addon {
	padding: 4px 10px;
}

.form-group-addon {
	padding: 4px 10px;
}

.stats_container{
	margin-bottom: 2em;
}

.stats {
	padding: 15px 15px 15px;
	border: 1px solid #4e5d6c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#stats_table {
	width: 100%;
	display: table;
}

#stats_table .stat:first-child {
	border-left: none;
}

#stats_table .stat:last-child {
	border-right: none;
}

#stats_table .stat {
	width: 25%;
	height: 90px;
	text-align: center;
	display: table-cell;
	padding: 0;
	position: relative;
	border-right: 1px solid #4e5d6c;
	border-left: 1px solid #4e5d6c;
}
/*jquery ui styling*/
.ui-autocomplete {
	/*top: 50px!important;*/
}

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	background: #2c3e50;
	background-color: #2c3e50;
}

#search {
	padding: 3px 0px;
	height: 90%;
}

.row {
	margin-left: 1%;
}

.table-todo input, .table-todo select, .table-todo textarea, .table input, .table textarea{
	display: block;
	width: 100%;
	height: 39px;
	padding: 8px 16px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #2b3e50;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.table textarea {
	height: 200px;
}

#book_table td {
	font-size: 20px;
}

/*tagmanager css*/
.myTag
{
	background-color: #4e5d6c;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	display: inline-block;
	font-size: 13px;
	margin: 0 5px 5px 0;
	padding: 4px;
	text-decoration: none;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	-webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	vertical-align: middle;
}			
.myTagError
{
	background-color: #F2DEDE;
}			
.myTagRemover
{
	color:silver;
}
.tagManager
{
	border-radius: 3px 3px 3px 3px;
	margin-top:0;
}

.myFramedTag
{
	background: none repeat scroll 0 0 #CDE69C;
	border: 1px solid #A5D24A;
	border-radius: 3px 3px 3px 3px;
	color: #638421;
	//display: block;
	//float: left;
	font-family: helvetica;
	font-size: 11px;
	margin-bottom: 5px;
	margin-right: 5px;
	//padding-top: 6px;
	//padding-bottom: 5px;
	padding: 5px 4px 4px 4px;
	text-decoration: none;
	white-space: nowrap;
	
	vertical-align: middle;
	line-height: 18px;
	//height:18px;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}			

.myMinTag
{
	background: none repeat scroll 0 0 #CDE69C;
	border: 1px solid #A5D24A;
	border-radius: 3px 3px 3px 3px;
	color: #638421;
	//display: block;
	//float: left;
	font-family: helvetica;
	font-size: 11px;
	margin-bottom: 5px;
	margin-right: 5px;
	//padding-top: 6px;
	//padding-bottom: 5px;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
	
	vertical-align: middle;
	line-height: 18px;
	//height:18px;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}			

.myMinNonTag
{
	font-family: helvetica;
	font-size: 11px;
	margin-bottom: 5px;
	margin-right: 5px;
	//padding-top: 6px;
	//padding-bottom: 5px;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
	
	vertical-align: middle;
	line-height: 18px;
	//height:18px;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}			

.myTag a {
	color: #EBEBEB;
}

.calendar {
  border: 1px solid #2b3e50;
}
.calendar > thead > tr > th,
.calendar > tbody > tr > th,
.calendar > tfoot > tr > th,
.calendar > thead > tr > td,
.calendar > tbody > tr > td,
.calendar > tfoot > tr > td {
  border: 1px solid #2b3e50;
}