{% extends "somesmart/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block title %} Welcome to some smart, some don't {% endblock title %}
{% block content %}
<div class="row">
	{% for post in blog_page %}
        <h4><a class = "text-success" href="{% pageurl post %}">{{ post.title }}</a> - {{ post.date }}</h4>
        <div class="intro alert alert-secondary">{{ post.intro }}</div>
        {% if forloop.first %}
	        {% for block in post.body %}
		        {% if block.block_type == 'heading' %}
		            <h1>{{ block.value }}</h1>
		        {% elif block.block_type == 'image' %}
		            <section class="mx-auto d-block block-{{ block.block_type }}">
		                {% image block.value width-600 %}
		            </section>
		        {% elif block.block_type == 'blockquote' %}
		            <section class="block-{{ block.block_type }}">
		                <figure>
		                    <blockquote class="blockquote px-5">
		                        {% include_block block %}
		                    </blockquote>
		                </figure>   
		            </section>
		        {% else %}
		            <section class="block-{{ block.block_type }}">
		                <p class="mb-0">{% include_block block %}</p>
		            </section>
		        {% endif %}
		    {% endfor %}
		{% endif %}
    {% endfor %}
    {% include "somesmart/include_pagination.html" %}
</div>
{% endblock content %}
{% block right-content %}
<div class="alert alert-secondary">Recent Reviews</div>
{% if recent_reads %}
	<ul class="list-unstyled">
	{% for review in recent_reads %}
		{% if review.reviewed > 0 %}
		<li><a class = "text-primary" href="{% url 'review-view' review.id %}{{ review.edition.book.title|slugify }}">{{ review.edition.book.title }}</a> - {{ review.finished|date }}{% if review.recommend %} <i class="bi-hand-thumbs-up" title="Recommended!"></i>{% else %} <i class="bi-hand-thumbs-down" title="Not Recommended"></i>{% endif %}</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No reviews.</p>
{% endif %}
<!-- <div class="alert alert-secondary">Most Used Tags</div>
<div id="tag-cloud"></div>-->
{% endblock %}
{% block app.scripts %}
<!-- <script type="text/javascript">
// function get_cloud(){
// 	$.ajax({
// 		type: "GET",
// 		url: '{% url "tag-cloud" 4 %}',
// 		success: function(data) {
// 			$('#tag-cloud').append(data);
// 		}
// 	});
// }
// $(function() {
// 	get_cloud();
// });
</script> -->
{% endblock %}