{% extends "somesmart/base.html" %}
{% block title %}some smart, some don't stats and charts{% endblock title %}
{% block top-content %}
<div class="row">
	<div class="col-md-8 col-lg-offset-2 random-quote"></div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-10 col-lg-offset-1">
		<div class="row">
			<div class="stats_container">	
				<div class="stats">
					<div id="stats_table" class="global-stats">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-10 col-lg-offset-1">
		<p class="well">The Geek Quotient shows the variety of novels I read, as measured by the uniqueness of the world they are set in (compared to the real world) combined with the reality of the events in the book. Lower values are more realistic and are set in a world more like our own. A Geek Quotient of 0 would be a novel set in our world, and consisting only of completely realistic events, while a score of 20 would be the opposite.</p>
		<div class="row">
			<iframe id="books-chart" name="books-chart" src="/charts/GeekQuotient/0" frameborder="0" class="col-md-12" height="450"></iframe>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-10 col-lg-offset-1">
		<p class="well">This chart shows a spread of the all the books read by geek quotient, as defined above. Rather than stricly comparing books by genre, this gives a better sense of which books fall together in terms of their realism, and the uniqueness of their world.</p>
		<div class="row">
			<iframe id="books-chart" name="books-chart" src="/charts/GeekHist/0" frameborder="0" class="col-md-12" height="450"></iframe>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-10 col-lg-offset-1">
		<div class="row">
			<div style="" id="timeline">
				<div class="row"><p class="well">A Timeline of the books I read in 2012, split between recommended (True) and not (False)</p></div>
				<div class="row"><iframe name="books-chart" src="/charts/Timeline/2012" frameborder="0" class="col-md-12" height="250"></iframe></div>
			</div>
		</div>
	</div>
</div>
{% endblock top-content %}
{% block top-right-content %}{% endblock top-right-content %}
{% block footer-content %}
  <div class="col-md-10 col-lg-offset-1">
	  {% include "somesmart/include_contact.html" %}
  </div>
{% endblock %}
{% block app.scripts %}
<script type="text/javascript">
function get_global_stats() {
	$.ajax({
	type: "GET",
	url: "{% url 'global-stats' %}",
	success: function(data){
		$(".global-stats").empty().append(data);
		}
	});
}
$(function() {
	get_global_stats();
})
</script>
{% endblock %}