{% extends "somesmart/base.html" %}
{% block app.css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/colorbox/colorbox.css">
{% endblock %}
{% block title %}Create Your List {% endblock title %}
{% block app.scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/colorbox/jquery.colorbox.js"></script>
<script type="text/javascript">
$(function() {
		$("#selector").autocomplete({
			source: "{% url 'autocomplete' %}?search=title",
			minLength: 3,
			select: function(event, ui) {
				$('#book_id').val(ui.item.id);
				$('#title').val(ui.item.label);
			}
		});
		var rowID;
		//set the starting value at 0
		rowID = 0;

		$("#add_book").click(function(e){ 
			//get the autocomplete values for use below
			var book_id = $('#book_id').val();
			var title = $('#title').val();
			//generate the new formset html
			var htmlData = "<tr><th><label for='id_list_details-" + rowID +"-book'>Book:</label></th><td><input type='hidden' name='list_details-" + rowID + "-book' id='id_list_details-" + rowID + "-book' value='" + book_id + "'>" + title + "</td><td><label for='id_list_details-" + rowID + "-DELETE'>Delete:</label><input type='checkbox' name='list_details-" + rowID + "-DELETE' id='id_list_details-" + rowID + "-DELETE' /><input type='hidden' name='list_details-" + rowID + "-list' id='id_list_details-" + rowID + "-list' /></td></tr>";
			$('#listdetail_form').append(htmlData);
			//increment the formid
			rowID++;
			//update the total forms amount
			$('#id_list_details-TOTAL_FORMS').val(rowID);
			//empty the selector field and focus on it
			$('#selector').val('');
			$('#selector').focus();
			//stops the form from refreshing the page like it normally would.
			e.preventDefault();
		}); 
		$(".ajax").colorbox({height:"650px", width:"565px", iframe:true, onClosed:function(){ 
			parent.updateOption({{ user.id }});
			}
		});
	});
</script>
{% endblock %}

{% if perms.somesmart.add_book %}
	{% block content %}
		<h3>Create your custom list</h3>
		<p>Note that while only you will be able to edit this list in the future, others will be able to pull it up and compare their own observations against the list.</p>
		<form action="" method="post" class="form-horizontal">
			<div class="form-row">
				{{ form.title.label_tag }}
				{{ form.title }}
				{{ form.title.errors }}
			</div>
		<table class="table">
			{{ form.as_table }}
		</table>
		<fieldset class="">
			<legend>Books in the list:</legend>
			<span class="col-md-10"><input class="form-control" type="text" id="selector" name="selector" /></span>
			<input type="hidden" id="book_id" name="book_id" />
			<input type="hidden" id="title" name="title" />
			<input type="submit" value="Add Book" class="btn btn-default" id="add_book" />
			<input type="hidden" name="list_details-TOTAL_FORMS" value="0" id="id_list_details-TOTAL_FORMS" /><input type="hidden" name="list_details-INITIAL_FORMS" value="0" id="id_list_details-INITIAL_FORMS" /><input type="hidden" name="list_details-MAX_NUM_FORMS" id="id_list_details-MAX_NUM_FORMS" />
			<table class="table table-hover listdetail_form" id="listdetail_form">
			</table>
		</fieldset>
		<div class="submit-row">
			{% csrf_token %}
			<input type="submit" value="Create List" class="submit btn btn-default pull-right" />
		</div>
		</form>
	{% endblock content %}
{% else %}
	<p>I'm sorry, you are not authorized to update this list. Please contact the administrator for more information.</p>
{% endif %}
{% block top-right-content %}{% endblock %}
{% block right-content %}
	{% include "somesmart/include_book_data.html" %}
	{% include "somesmart/include_recent_posts.html" %}
{% endblock %}