{% extends "somesmart/base.html" %}
{% load tagging_tags %}
{% load somesmart_extras %}
{% load admin_urls %}
{% block title %}{{ review.edition.book.title }} Review{% endblock title %}
{% block content %}
	<div>
		<h2>{{ review.edition.book.title }}<br><small>by <a href="{% url 'author-view' review.edition.book.author.id %}">{{ review.edition.book.author }}</a></small></h2>
	</div>
	<div class="pull-right">
	{% with review.one_sentence|length|add:-1 as review_len %}
		<a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="small" data-count="horizontal" data-text="{% if review_len > 117 %}{{ review.one_sentence|safe|truncchar:115 }}...{% else %}{{ review.one_sentence|safe|truncchar:review_len }}{% endif %}">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	{% endwith %}
	</div>
	<h4>A Review by {{ review.reader }} <small>finished {{ review.finished|date }}</small></h4>
	{% if review.one_sentence %}
		<p><strong>In one sentence:</strong> {{ review.one_sentence|safe }}</p>
	{% endif %}
	<div class="row">
		<p class="col-md-5 alert alert-info">This review will contain spoilers!</p>
	</div>
	<p><strong>In many sentences:</strong></p>
	<div class="review">{{ review.critique|safe }}</div>
	{% for quote in review.edition.quote_set.all %}
		<h4>{{ quote.quote_type }}{% if quote.quote_type.id == 1 %} Quote{% endif %}</h4>
		{% include "somesmart/include_quote.html" %}
	{% endfor %}
	{% if request.user.id == review.reader.id %}
		<a class="btn btn-default pull-right" href="{% url 'admin:somesmart_review_change' review.id %}">Edit this review</a>
	{% endif %}
{% endblock content %}
{% block top-right-content %}{% endblock %}
{% block right-content %}
{% with review.edition.book as book %}
	{% include "somesmart/include_book_data.html" %}
	{% include "somesmart/include_recent_posts.html" %}
	{% include "somesmart/include_book_tags.html" %}
{% endwith %}
<div class="row">
	<h4 class="well well-sm">Related Books</h4>
	<div id="related-books"></div>
</div>
{% endblock %}
{% block app.scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/tagmanager/bootstrap-tagmanager.js"></script>
<script>
function get_related(book){
	$.ajax({
		type: "GET",
		url: '{% url "related-books" review.edition.book.id %}',
		success: function(data) {
			$('#related-books').append(data);
		}
	});
}
$(function() {
	jQuery(".tagManager").tagsManager({
		prefilled: [{% tags_for_object review.edition.book as prefilled_tags %}{% for tag in prefilled_tags %}"{{ tag.name }}"{% if not forloop.last %},{% endif %}{% endfor %}],
		preventSubmitOnEnter: true,
		typeahead: true,
		typeaheadAjaxSource: '{% url "current-tags" %}', 
		typeaheadAjaxPolling: false
	});
	{% if request.user.id == 2 %}
	$('.save-tags').click(function() {
		var new_tags = $('input[name=hidden-tagsjax]').val();
		$.ajax({
			url: '{% url "save-tags" review.edition.book.id %}',
			type: 'POST',
			data: {
			new_tags: new_tags,
			csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success:function (data) {
			if (data == '1')
			{
				$("#tags-status")
				.addClass("success")
				.html("<div class='alert alert-success'>Your keywords have been saved. <a href='#'' class='close' data-dismiss='alert'>×</a></div>").fadeIn('slow');
			}
			else
			{
				$("#tags-status").addClass("error").html("Error, data could not be saved. Invalid keywords: " + data + " <a href='#'' class='close' data-dismiss='alert'>×</a>").fadeIn('slow');
			}
			}
		});
	});
	{% endif %}
	get_related();
});
</script>
{% endblock %}