<!DOCTYPE html>
<html lang="en">
{% block head %}
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Some Smart, Some Don't{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}somesmart/css/bootstrap/bootstrap.min.superhero.css">
		{% block app.css %}{% endblock %}
		<link rel="stylesheet" href="{{ STATIC_URL }}somesmart/css/bootstrap/custom.css">
		<!--<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css">-->
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
</head>
{% endblock head %}
<body>
{% block body %}
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">sssd</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li {% if request.path == '/about/' %} class="active" {% endif %}><a href="{% url 'about-page' %}">About</a></li>
				<li {% if request.path == '/my-books/' %} class="active" {% endif %}><a href="{% url 'my-books' %}">My Books</a></li>
				<li {% if 'adventure' in request.path %} class="active" {% endif %}><a href="{% url 'game-list' %}">Text Adventure</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Book Features <b class="caret"></b></a>
				  <ul class="dropdown-menu">
						<li><a href="{% url 'review-list' %}">Reviews</a></li>
						<li><a href="{% url 'quote-list' %}">Quotes</a></li>
						<li><a href="{% url 'favorite-list' %}">Favorites</a></li>
						<li><a href="{% url 'charts' %}">Charts</a></li>
						<li class="divider"></li>
						<li><a href="/lotr/">Lord of the Rings Calendar</a></li>
				  </ul>
			</ul>
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input id="search_url" type="hidden" name="search_url">
					<span class="form-group-addon"><i class="glyphicon glyphicon-search"></i></span>
					<input id="search" type="text" class="form-control" placeholder="Enter title or author">
					<button type="submit" class="btn btn-default">Search</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="message" class="col-md-3 col-lg-offset-9"></div>
{% block top-content %}
<div class="row col-md-12">
	<div class="col-md-8 col-lg-offset-2 random-quote"></div>
</div>
{% endblock top-content %}
<div class="container">
	<div class="row col-md-12">
		<div class="col-md-8">
		{% block content %}{% endblock %}
		</div>
		<div class="col-md-4">
			<div class="row">
				{% block top-right-content %}
					<h4 class="well well-sm">Currently Reading</h4>
					<div class="gr-current"></div>
				{% endblock %}
				{% block right-content %}{% endblock %}
			</div>
		</div>
	</div>
	{% block footer-content %}{% endblock %}
	<hr>
	<footer>
		<div class="container">
			<ul class="nav nav-pills">
				<li class="disabled"><a href="">&copy; somesmart.com 2014</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</div>
	</footer>
</div> <!-- /container -->
{% endblock body %}
<!-- Placed at the end of the document so the pages load faster -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap/bootstrap.min.js"></script>
		{% block app.scripts %}{% endblock %}
		{% block base.scripts %}
		<script type="text/javascript">
		function get_gr_current() {
			$.ajax({
			type: "GET",
			url: "{% url 'get-gr-current' %}",
			success: function(data){
				$(data).each(function(i,val){
					 $.each(val,function(k,v){
						html="<p>" + val.status + " - <a href='" + val.link + "'>Goodreads</p>";
					 });
				});
					$(".gr-current").empty().append(html);
				}
			});
		}
		function get_random_quote() {
			$.ajax({
			type: "GET",
			url: "{% url 'random-quote' %}",
			success: function(data){
					$(".random-quote").empty().append(data);
				}
			});
		}
		</script>
		<script type="text/javascript">
				$(function() {
					$("#search").autocomplete({
							source: "{% url 'autocomplete' %}?search=primary_search",
							minLength: 3,
							select: function(event, ui) {
								window.location.href = ui.item.id;
							}
						});
					get_gr_current();
					get_random_quote();
				})
		</script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1169821-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% endblock %}
		{% block extrahead %}{% endblock extrahead %}
</body>
</html>