{% extends "somesmart/base.html" %}

{% block title %}Browse Quotes{% endblock title %}
{% block top-content %}{% endblock %}
{% block content %}
	<h3>Search for Quotes</h3>
	<div data-toggle="buttons-radio" class="btn-group">
		<p class="">
			<button id="byAuthor" type="button" name="byAuthor" class="btn btn-secondary my-2 my-sm-0 ">By Author</button><button id="byTitle" type="button" name="byTitle" class="btn btn-secondary my-2 my-sm-0">By Title</button>
		</p>
		<form>
			<div class="input-group">
				<input id="quote_search_url" type="hidden" name="quote_search_url">
				<span class="input-group-addon"><i class="bi-search"></i></span>
				<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="quote_author_search" type="text" placeholder="Search by author's name" class="ui-autocomplete-input" autocomplete="off" style="display: block;">
				<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="quote_title_search" type="text" style="display: none;" placeholder="Search by book title" class="ui-autocomplete-input" autocomplete="off">
			</div>
		</form>
	</div>
	<hr>
	{% if type_list %}
		{% regroup type_list by quote_type as type_header %}
			{% for type in type_header %}
				<h3>{{ type.grouper }} Quotes</h3>
			{% endfor %}
		{% for quote in type_list %}
			{% include "somesmart/include_quote.html" %}
		{% endfor %}
	{% endif %}
	{% if search_list %}
		{% regroup search_list by edition.book as edition_header %}
		{% for book in edition_header %}
			<h3>{{ book.grouper }}</h3>
			{% for quote in search_list %}
				{% include "somesmart/include_quote.html" %}
			{% endfor %}
		{% endfor %}
	{% endif %}
	{% include "somesmart/include_pagination.html" %}
{% endblock content %}
{% block right-content %}
<h4 class="alert alert-secondary">Browse Quotes by Type</h4>
	{% if quote_stats %}
	   {% for type in quote_stats %}
		<p>{{ type.quote_count }} - <a href="{% url 'quote-type-list' type.quote_type__id %}">{{ type.quote_type__name }} Quotes</a></p>
	   {% endfor %}
	{% endif %}
{% endblock right-content %}
{% block app.scripts %}
<script type="text/javascript">
	$(function() {	
	$("#byAuthor").click(function() {
			$("#quote_title_search").hide();
			$("#quote_author_search").show();
		});
	$("#byTitle").click(function() {
			$("#quote_author_search").hide();
			$("#quote_title_search").show();
		});
	$("#quote_author_search").autocomplete({
	  source: "{% url 'autocomplete' %}?search=author",
	  minLength: 3,
	  select: function(event, ui) {
		window.location.href = "/quote/author/" + ui.item.id;
	  }
	});
	$("#quote_title_search").autocomplete({
	  source: "{% url 'autocomplete' %}?search=title",
	  minLength: 3,
	  select: function(event, ui) {
		window.location.href = "/quote/book/" + ui.item.id;
	  }
	});
	})
</script>
{% endblock %}