{% extends "somesmart/base.html" %}
{% load zinnia_tags %}
{% block title %} Welcome to some smart, some don't {% endblock title %}
{% block content %}
	{% get_recent_entries 10 "zinnia/home_excerpts.html" %}
	<a class="btn btn-primary pull-right" href="blog/?page=2">More entries &raquo;</a>
{% endblock content %}
{% block right-content %}
<h4 class="well well-sm">Recent Reviews</h4>
{% if recent_reads %}
	<ul class="list-unstyled">
	{% for review in recent_reads %}
		{% if review.reviewed > 0 %}
		<li><a href="{% url 'review-view' review.id %}{{ review.edition.book.title|slugify }}">{{ review.edition.book.title }}</a> - {{ review.finished|date }}{% if review.recommend %} <i class="glyphicon glyphicon-thumbs-up" title="Recommended!"></i>{% else %} <i class="glyphicon glyphicon-thumbs-down" title="Not Recommended"></i>{% endif %}</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No reviews.</p>
{% endif %}
<h4 class="well well-sm">Most Used Tags</h4>
<div id="tag-cloud"></div>
<a href="{% url 'zinnia_entry_latest_feed' %}" class="btn btn-default">RSS Feed</a>
<a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fsomesmart.com%2Fblog%2Ffeeds%2Flatest%2F' class="btn btn-default" target='blank'>Feedly</a>
{% endblock %}
{% block app.scripts %}
<script>
function get_cloud(){
	$.ajax({
		type: "GET",
		url: '{% url "tag-cloud" 4 %}',
		success: function(data) {
			$('#tag-cloud').append(data);
		}
	});
}
$(function() {
	get_cloud();
});
</script>
{% endblock %}