{% extends "somesmart/base.html" %}
{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
	<div class="page-header">
		<h2>{{ book.title }}<br><small>by <a href="{% url author-view book.author.id %}">{{ book.author }}</a></small></span></h2>
	</div>
	<h4>Synopsis</h4>
	<span class="label label-info">This synopsis will contain spoilers!</span>
	<div class="review">
		{{ book.synopsis|safe }}
	</div>
	<h4>Reviews</h4>
	<dl>
	{% for edition in book.edition_set.all %}
	{% for review in edition.review_set.all %}
			<dt><a href="{% url review-view review.id %}{{ review.edition.book.title|slugify }}">{{ review.edition }}</a>{% if review.recommend %} <i class="glyphicon glyphicon-thumbs-up"></i>{% else %} <i class="glyphicon glyphicon-thumbs-down"></i>{% endif %}</dt>
			<dd>{% if review.one_sentence %}{{ review.one_sentence|safe }}{% else %}{{ review.critique|truncatewords_html:30|safe }}{% endif %} - {{ review.finished|date }}</dd>
	{% endfor %}
	{% endfor %}
	</dl>
	<h4>Quotes</h4>
	{% for edition in book.edition_set.all %}
		{% for quote in edition.quote_set.all %}
			{% include "somesmart/include_quote.html" %}
		{% endfor %}
	{% endfor %}
{% endblock content %}
{% block top-right-content %}{% endblock %}
{% block right-content %}
	{% include "somesmart/include_book_data.html" %}
	{% include "somesmart/include_recent_posts.html" %}
{% endblock %}