{% extends "somesmart/base.html" %}
{% block content %}
{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-horizontal">
	{% csrf_token %}
	<table class="table table-striped table-hover table-todo">
		<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
	</table>
	<input class="btn btn-default" type="submit" value="Sign In" />
	<input type="hidden" name="next" value="/adventure/" />
</form>
{% endblock %}