{% extends "somesmart/base.html" %}
{% block title %}About some smart, some don't{% endblock title %}
{% block content %}
	<p class="alert alert-secondary">Greetings. If you don’t know me, I’m Scott and you’ve stumbled across my nerdy internet domain.  Read on for more information on how it became what you see it as today.  If you so desire, you can contact me at scott [at] somesmart [dot] com, leave a comment, or find me on <a class="text-primary" href="https://flipping.rocks/@scott">Mastodon.</a></p>
	<h3>What is this site even about?</h3>
	<p>Some smart, some don’t was originally devoted to a wide variety of sarcastic, inane subjects.  Then I turned it into a blog.  Then I realized I’m not very good at blogging.  Then I created a book database, where I started to spend all of my time.  Then it was brought to my attention that people don’t want to read a spoiler filled synopsis and critique before they read a book.</p>
	<p>So all of that brings me to the present, where I hope to use the blog front end of somesmart.com to have more generic, spoiler free discussions of the books I’m reading.  This will give anyone who cares to read it the opportunity to learn about a new book, and hopefully determine if they want to read it before anything is spoiled.  I also plan on using it for other blogging, potentially, but for now it is meant to be solely focused on book reading.</p>
	<p>Hope you enjoy!</p>
	<h3>But what does some smart, some don’t even mean?</h3>
	<p>It’s a cliche, a puzzle and a semantic paradox created by my good friend Josh.</p>
	<p>As any good cliche, there are multiple layers to this saying. For example, you can take the word smart to literally mean intelligent. As in “some people are intelligent, some are not”. Of course, the grammar of the actual phrase would be terrible in this case, leading to a humorously ironic statement made by what would appear to be an idiot (some don’t).</p>
	<p>However, if the word smart is taken to mean something painful as in “that smarts!” then the meaning suddenly becomes “some (things) smart, while others don’t”. Obviously this is true, if not vague. When combined with the other meaning of the phrase, though, the cliche suddenly develops a depth and subtelty that is difficult to ignore. Ultimately, very few will appreciate all the layers and applications of this saying (some smart). Unfortunately, we aren’t among those select few.</p>
{% endblock content %}
{% block top-right-content %}{% endblock top-right-content %}
{% block right-content %}
	<div class="col-md-10 col-lg-offset-1">
      {% include "somesmart/include_contact.html" %}
    </div>
{% endblock %}