{% extends "somesmart/base.html" %}
{% load tz %}
{% block title %}{{ author.first_name }} {{ author.last_name }}{% endblock title %}
{% block top-content %}
<div class="row">
	<div class="col-md-8 col-lg-offset-2 random-quote"></div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-10 col-lg-offset-1">
		<div class="page-header">
			<h3>{{ author.first_name }} {{ author.last_name }}{% if author.parent_author %} (a pen name of {{ author.parent_author }}){% endif %}</h3>
			<small>{% if author.birth_date %}Born: {% localtime off %}{{ author.birth_date|date }}{% endlocaltime %}{% endif %}{% if author.death_date %}<br>Died: {% localtime off %}{{ author.death_date|date }}{% endlocaltime %}{% endif %}</small>
		</div>
		<h3>Books by {{ author.last_name }}:</h3>
		{% for book in author.book_set.all %}
			{% if forloop.counter0|divisibleby:"3" %}<div class="row">{% endif %}
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h5><center><a href="{% url 'book-view' book.id %}{{ book.title|slugify }}">{{ book.title }}</a></center></h5>
						</div>
						{% for edition in book.edition_set.all %}
							{% if forloop.first %}
								<div class="panel-body">
									<center>{% if edition.cover %}<img src="{{ edition.cover.url }}" height="300px">{% else %}<img data-src="holder.js/200x300/auto" height="300px">{% endif %}</center>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% if forloop.last or forloop.counter|divisibleby:"3" %}</div>{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock top-content %}
{% block top-right-content %}{% endblock top-right-content %}
{% block app.scripts %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/holder/holder.js"></script>
{% endblock %}