<div class="row">
	<div id="tags-status"></div>
	<h4 class="alert alert-secondary">Book Keywords</h4>
	<form class="row pb-2">
		<div class="col-auto">
			<input type="text" autocomplete="off" data-items="6" data-provide="typeahead" name="tagsjax" placeholder="Keywords" style="width:9em; margin-bottom: 5px; {% if request.user.id == 2 %}{% else %}display:none;{% endif %}" class="tagManager form-control" data-original-title="">
		</div>
			{% if request.user.id == 2 %}
				<div class="col-auto">
					<a class="save-tags btn btn-outline-success">Save Keywords</a>
				</div>
			{% endif %}
	</form>
</div>