{% load tz %}
{% if book.id %}
<div class="row">
<h4 class="well well-sm"><a href="{% url 'book-view' book.id %}{{ book.title|slugify }}/">{{ book.title }}</a> <br><small>by <a href="{% url 'author-view' book.author.id %}">{{ book.author }}</a></small></h4>
</div>
<div class="row">
<dl>
	<dt>
		<div class="pull-right">
			{% for edition in book.edition_set.all %}
				{% if forloop.first %}{% if edition.cover %}<img src="{{ edition.cover.url }}" width="100px">{% endif %}{% endif %}
			{% endfor %}
		</div>
	</dt>
	<dd>
		<p>Originally Published {% localtime off %}{{ book.original_publication|date }}{% endlocaltime %}</p>
	{% for edition in book.edition_set.all %}
		<p>{{ edition.get_format_display }} edition:</p>
		<p>{{ edition.pages }} pages - {% localtime off %}{{ edition.published|date }}{% endlocaltime %}</p>
	{% endfor %}
	</dd>
</dl>
</div>
{% endif %}