{% extends "somesmart/base.html" %}
{% block title %}{{ lesson }}{% endblock title %}
{% block content %}
<a href="{% url 'lesson-list' %}" class="btn btn-default">Back To all Lessons/a>
	<h3>{{ lesson }} <small>: a {{ lesson.lesson_type }} Round</small></h3>
	{# Add information here about all the rounds in the lesson #}
	{# {% for round in lesson.round_set.all %}
	{% endfor %} #}
{% endblock content %}
{% block top-right-content %}{% endblock top-right-content %}
{% block right-content %}
	<div class="col-md-10 col-lg-offset-1">
		{% include "somesmart/include_contact.html" %}
	</div>
{% endblock %}